<!-- header partial -->
<%- include('partials/header') %>

<main>
  <!-- Renders 'Project Categories' from Express route safely -->
  <h1><%= title %></h1>
  
  <p>Explore our available service tracks:</p>

  <!-- The required placeholder  of 4 categories -->
  <ul class="categories-list">
    <li>Environmental</li>
    <li>Educational</li>
    <li>Community Service</li>
    <li>Health and Wellness</li>
  </ul>
</main>

<!-- footer partial -->
<%- include('partials/footer') %>